[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:meetinjp/nvim.git
	branch = main
	update = merge
[submodule "gminds"]
	path = gminds
	url = git@github.com:meetinjp/gminds.git
	branch = main
	update = merge
